/node_modules
.next
.env
*yalc*
/out
/coverage
/storybook-static
/stryker-tmp
/reports
stryker.log
/dist
/.scannerwork
eslint.json
stylelint.json
.npmrc
/cypress/videos
/cypress/screenshots
/cypress/snapshots
**/.DS_[Ss]tore
.idea
.env.development
src/pages/api/dev
.lighthouseci
/.env.local
/eslint
sonarqube.js

# stryker temp files
.stryker-tmp
.bash_profile
eslint/node_modules
